# 1. List and its default functions

In [1]:
lst=["Sumit", 132358, 25.56, "Football", "Python language", True]

In [2]:
lst

['Sumit', 132358, 25.56, 'Football', 'Python language', True]

i. append()

In [3]:
# adds element to the end of the list
lst.append("end")

In [4]:
lst

['Sumit', 132358, 25.56, 'Football', 'Python language', True, 'end']

ii. index()

In [5]:
# returns the position of the specified item in the list
lst.index("Football")

3

iii. pop()

In [6]:
# removes the element of the list at the given index position
lst.pop(2)

25.56

In [7]:
lst

['Sumit', 132358, 'Football', 'Python language', True, 'end']

iv. reverse()

In [8]:
# reverse the entire list
lst.reverse()

In [9]:
lst

['end', True, 'Python language', 'Football', 132358, 'Sumit']

v. clear()

In [10]:
# removes all the items in the list
lst.clear()

In [11]:
lst

[]

# 2. Dictionary and its default functions

In [1]:
pDet={
    "name": "Sumit",
    "contact": 1354879456,
    "place": "Kolkata",
    "year": 1999,
    "college": "KGEC"
}

In [2]:
pDet

{'name': 'Sumit',
 'contact': 1354879456,
 'place': 'Kolkata',
 'year': 1999,
 'college': 'KGEC'}

i. get()

In [3]:
# returns the value of the specified key
pDet.get("place")

'Kolkata'

In [4]:
# returns the value of those keys not present in the dictionary
pDet.get("month", "August")

'August'

ii. keys()

In [5]:
# returns all the keys of the dictionary in the form of a tuple
pDet.keys()

dict_keys(['name', 'contact', 'place', 'year', 'college'])

iii. items()

In [6]:
# returns all the key-value pairs in the dictionary
pDet.items()

dict_items([('name', 'Sumit'), ('contact', 1354879456), ('place', 'Kolkata'), ('year', 1999), ('college', 'KGEC')])

iv. pop()

In [7]:
# removes the element with the specified key
pDet.pop("year")

1999

In [8]:
pDet

{'name': 'Sumit', 'contact': 1354879456, 'place': 'Kolkata', 'college': 'KGEC'}

v. clear()

In [9]:
# deletes the entire dictionary
pDet.clear()

In [10]:
pDet

{}

# 3. Sets and its default functions

In [11]:
num = {5 , 2 , 8 , 10 , 32 , 54 , 10 , 25 , 20 , 54 , 28}

In [12]:
num

{2, 5, 8, 10, 20, 25, 28, 32, 54}

i. add()

In [13]:
# adds an element to the set
num.add(31)

In [14]:
num

{2, 5, 8, 10, 20, 25, 28, 31, 32, 54}

ii. remove()

In [15]:
# removes the specified element from the set
num.remove(28)

In [16]:
num

{2, 5, 8, 10, 20, 25, 31, 32, 54}

iii. issubset()

In [17]:
num1 = {5, 45, 21, 10, 54, 21}

In [18]:
num1

{5, 10, 21, 45, 54}

In [19]:
# whether num1 is a subset of num
num1.issubset(num)

False

iv. union

In [20]:
# performs union of two sets
num.union(num1)

{2, 5, 8, 10, 20, 21, 25, 31, 32, 45, 54}

v. intersection

In [21]:
# performs intersection of two sets
num.intersection(num1)

{5, 10, 54}

# 4. Tuples and its default functions

In [24]:
tup = ("cricket", "football", "hockey", "basketball", "volleyball", "football")

In [25]:
tup

('cricket', 'football', 'hockey', 'basketball', 'volleyball', 'football')

i. count()

In [26]:
# returns the number of times the given element occurs in the list
tup.count("football")

2

ii. index()

In [28]:
# returns the index position of an element in the tuple
tup.index("hockey")

2

# 5. Strings and its default functions

In [29]:
str = "Sumit Chakraborty"

In [30]:
str

'Sumit Chakraborty'

i. lower()

In [31]:
# converts all upper-case characters to lower-case
str.lower()

'sumit chakraborty'

ii. upper()

In [32]:
# converts all lower-case characters to upper-case
str.upper()

'SUMIT CHAKRABORTY'

iii. replace()

In [34]:
# replaces a character with another character
str.replace("a", "z")

'Sumit Chzkrzborty'

iv. find()

In [35]:
# finds for the specified string and returns its position. If not found, it returns -1
str.find("B")

-1

In [36]:
str.find("b")

12

v. endswith()

In [37]:
# checks whether a string ends with a particular value
str.endswith(".")

False